<div class="container">
  <h4>Danh sách nhân viên</h4>
  <a href="/admin/add-employee">Thêm nhân viên</a>
  <div class="row">
    {{#each employees}}
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="floating-card card">
          <img
            class="card-img-top"
            width="100"
            height="200"
            src="{{image}}"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-title">{{name}}</p>
            <p class="card-text">Phòng: {{department}}</p>
            <form
              action="/admin/delete-employee?id={{_id}}"
              method="POST"
              class="float-left"
            >
              <input type="hidden" name="_id" />
              <button class="btn" type="submit">Delete</button>
            </form>
            <a
              class="btn btn-primary float-right"
              href="/admin/edit-employee?edit=true&id={{_id}}"
            >Edit</a>
          </div>
        </div>
      </div>
    {{/each}}
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="floating-card card">
        <div class="card-body">
          <i class="fa-solid fa-plus-large"></i>
          <p><a href="/admin/add-employee">Thêm nhân viên</a></p>
        </div>
      </div>
    </div>
  </div>
</div>