<div class="container">
  <h4>Phê duyệt bảng chấm công</h4>
  {{! <a href="/confirmed-timesheet">Xem chi tiết phê duyệt</a> }}
  <form action="/approve-timesheet-search" method="GET">
    <label for="searchMonth">Chọn tháng</label>
    {{#if searchMonth}}
      <input type="month" name="searchMonth" value="{{searchMonth}}" />
    {{else}}
      <input type="month" name="searchMonth" />
    {{/if}}
    <button type="submit">Tra cứu</button>
  </form>
  <div id="accordion" class="mt-3">
    {{#each member}}
      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#{{_id}}">
            {{name}}
            -
            {{_id}}
          </a>
          {{#ifCond isLocked '===' "true"}}
          <form action="/approve-timesheet?id={{_id}}&isLocked=true" method="POST" style="float: right;">
            <button  class="btn btn-danger">UNLOCK</button>
          </form>
          {{else}}
          <form action="/approve-timesheet?id={{_id}}&isLocked=false" method="POST" style="float: right;">
            <button  class="btn btn-primary">LOCK</button>
          </form>
          {{/ifCond}}
          </form>
        </div>
        <div id="{{_id}}" class="collapse show" data-parent="#accordion">
          <div class="card-body">
            {{#ifCond workingRecord.length '>' 0}}
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th>Ngày</th>
                  <th>Nơi làm</th>
                  <th>Giờ bắt đầu</th>
                  <th>Giờ kết thúc</th>
                  <th>Thời gian làm (hr)</th>
                  <th>Nghỉ phép (hr)</th>
                  <th>Tổng giờ làm (hr)(*)</th>
                  <th>Overtime (hr)</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{#each workingRecord}}
                  {{#if details}}
                        {{#each details}}
                          <tr>
                            {{#ifCond @index '===' 0}}
                            <td rowspan="{{../details.length}}">{{tolocaledatestring ../date}}</td>
                            {{/ifCond}}
                            <td>{{workplace}}</td>
                            <td>{{getHours startTime}}:{{getMinutes startTime}}</td>
                            {{#if endTime}}
                              <td>{{getHours endTime}}:{{getMinutes endTime}}</td>
                              <td>{{subStract endTime startTime}}</td>
                            {{else}}
                              <td>-</td>
                              <td>-</td>
                            {{/if}}
                            {{#ifCond @index '===' 0}} 
                            {{#if ../leaveHour}}
                            <td rowspan="{{../details.length}}">{{../leaveHour}}</td>
                            <td rowspan="{{../details.length}}">{{../totalHour}}</td>
                            {{else}}
                            <td rowspan="{{../details.length}}">-</td>
                            <td rowspan="{{../details.length}}">{{../totalWorkingHour}}</td>
                            {{/if}}
                            <td rowspan="{{../details.length}}">{{../overTime}}</td>
                            {{/ifCond}}
                            {{#if endTime}}
                            <td>
                              <form action="/approve-timesheet-search?searchMonth={{../../../searchMonth}}&id={{../../_id}}&date={{../date}}&startTime={{startTime}}&endTime={{endTime}}" method="POST">
                                <button  class="btn btn-secondary">Delete</button>
                              </form>
                            </td>
                            {{else}}
                            <td>
                              <form>
                                <button class="btn btn-secondary" disabled>Delete</button>
                              </form>
                            </td>
                            {{/if}}
                          </tr>
                        {{/each}}
                      {{else}}
                        {{#if leaveHour}}
                          <tr>
                            <td>{{tolocaledatestring date}}</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>{{leaveHour}}</td>
                            <td>{{totalHour}}</td>
                            <td>-</td>
                            <td>
                              <form action="/approve-timesheet-search?searchMonth={{../../searchMonth}}&id={{../_id}}&date={{date}}" method="POST">
                              <button  class="btn btn-secondary">Delete</button>
                              </form>
                            </td>
                          </tr>
                        {{/if}}
                      {{/if}}
                {{/each}}
              </tbody>
            </table>
            {{!-- <form action="/approve-timesheet-search?searchMonth={{../searchMonth}}&id={{_id}}&delete=true" method="POST">
              <button class="btn btn-danger">Delete</button>
            </form> --}}
            {{else}}
            {{#if ../searchMonth}}
            <p>Không có thông tin giờ làm của tháng {{ ../searchMonth}}</p>
            {{else}}
            <p>Bạn chưa chọn tháng để xem</p>
            {{/if}}
            {{/ifCond}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>